@using EventOrganizer.ViewModels
@model EventListViewModel

<div>
    <h2>List of events</h2>
</div>

@{
    foreach (var e in Model.Events)
    {
        <div>
            <h3>@e.Name</h3>
            <p>Date: @e.EventDateTime.ToLongDateString()</p>
            <p>Time: @e.EventDateTime.ToShortTimeString()</p>
	    <p>Category name: @e.Category.CategoryName</p>
        </div>
    }
}