@model EventCartItemsViewModel

@foreach (var item in Model.EventCartItems)
{
    <div style="background-color:azure; height:200px; border:solid;">
        <p class="text-left">@item.Name</p>
        <p class="text-right">@item.ScheduledAt.ToString("c")</p>
        @*<p class="text-center"><a class="glyphicon glyphicon-remove text-danger remove" asp-controller="EventCartItems" asp-action="RemoveFromEventCart" asp-route-eventId="@item.Id"></a></p>*@
    </div>
}
