<div class="container">
    <h2><b>Contact us</b></h2>
    <div class="row">
        <div class="col-sm-4">
            <img src="https://www.thewondertrip.com/data/posts/43/images/original/ade-1.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
            <br />
            <div class="caption">
                <br />
                <p>Have a question? Need a tip? <email address="organizer283@gmail.com" content="Email us!"></email></p>
                
            </div>
        </div>
        <div class="col-sm-4">
            <img src="https://blog.bizzabo.com/hs-fs/hubfs/Product%20Launch%20Event%20Examples/product-launch-events-mozcon-min.png?width=1600&name=product-launch-events-mozcon-min.png" class="img-circle" alt="Cinque Terre" width="304" height="236">
            <br />
            <div class="caption">
                <br />
                <p>Get answers from <email address="organizer283@gmail.com" content="EventOrganizer Community"></email></p>
                
            </div>
        </div>
        <div class="col-sm-4">
            <img src="http://www.weddingsitaly.com/it/gestione-eventi/images/location-events002.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
            <br />
            <div class="caption">
                <br/>
                <p>Technical support: <email address="organizer283@gmail.com" content="support@eventorg.com"></email></p>
            </div>
        </div>
    </div>
</div>