<div class="container">
    <h2>Contact Us</h2>
    <p>Swing by for a cup of coffee, or leave us a message:</p>
    <div class="row">
        <div class="col-sm-4">
            <img src="https://www.thewondertrip.com/data/posts/43/images/original/ade-1.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
            <br />
            <div class="caption">
                <email address="2ndriy@gmail.com" content="Email us"></email>
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="https://blog.bizzabo.com/hs-fs/hubfs/Product%20Launch%20Event%20Examples/product-launch-events-mozcon-min.png?width=1600&name=product-launch-events-mozcon-min.png" class="img-circle" alt="Cinque Terre" width="304" height="236">
            <br />
            <div class="caption">
                <email address="2ndriy@gmail.com" content="Email us"></email>
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="http://www.weddingsitaly.com/it/gestione-eventi/images/location-events002.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
            <br />
            <div class="caption">
                <email address="2ndriy@gmail.com" content="Email us"></email>
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
        </div>
    </div>
</div>