@using EventOrganizer.Helpers
<h2>@Model.CurrentCategory</h2>

<div class="row">
@{
    foreach (Event e in Model.Events)
    {
        @Html.Partial("EventsSummary", e);
    }
}
</div>
<div class="btn-group">
    @Html.Raw(PagingHelper.PageLinks(Model.PageInfo, (Func<int, string>)((x) => Url.Action("List", "Events", new { Category = Model.CurrentCategory, pageNumber = x })) ))    
</div>
