@model Event

<div class="row">
    <p>Liked events</p>
    <br />
    <div style="background-color:azure; height:200px; border:solid;">
        <p class="text-left">@Model.Name</p>
        <p class="text-left">@Model.ScheduledAt.ToString()</p>
        <div class="row">
            <div class="col-lg-6" style="text-align: left">
                @using (Html.BeginForm("RemoveFromEventCart", "EventCartItems", Model))
                {
                    <input type="submit" value="Remove" class="edit" />
                }
            </div>
        </div>
    </div>
</div>
